{% extends "base.html" %}

{% block main %}
  <div class="row mb-3">
    <div class="col-md-8">
      {% block maincol %}
      {% endblock %}
    </div>
    <div class="col-md-4">
      {% filter markdown %}
        ## Important Dates and Deadlines

        **Conference Papers:**

        - Abstracts: April 18, 2022
        - **Full Papers: {{ submission_deadline }}**
        - Round 1 Rebuttal: June 6&ndash;9, 2022
        - Round 2 Rebuttal: July 11&ndash;14, 2022
        - Author Notification: July 29, 2022
        - Artifact Submission: August 5, 2022
        - Camera Ready Papers: August 26, 2022

        **Workshops and Tutorials:**

        - Submission Deadline: May 2, 2022
        - Notification: May 9, 2022
        - Workshops/Tutorials: October 8&ndash;9, 2022

        **Conference: {{conf_dates}}**

        ---

        ### Previous PACTs

        [PACT21](http://pact21.snu.ac.kr/),
        [PACT20](https://pact20.cc.gatech.edu/),
        [PACT19](https://hpc.pnl.gov/pact19/),
        [PACT18](http://www.cs.ucy.ac.cy/conferences/pact2018/),
        [PACT17](https://parasol.tamu.edu/pact17/),
        PACT16,
        [PACT15](https://sites.google.com/a/lbl.gov/pact2015/),
        [PACT14](http://pact2014.pactconf.org/),
        [PACT13](http://conferences.inf.ed.ac.uk/pact2013/),
        [PACT12](http://pact2012.ece.northwestern.edu/index.html),
        [PACT11](https://parasol.tamu.edu/pact11/),
        [PACT10](http://www.complang.tuwien.ac.at/PACT-2010/),
        [PACT09](http://pact09.renci.org/),
        [PACT08](http://www.eecg.toronto.edu/pact/),
        [PACT07](http://pact07.cs.tamu.edu/),
        [PACT06](http://www.cs.virginia.edu/~pact2006/),
        [PACT05](http://pact05.ce.ucsc.edu/),
        [PACT04](https://home.mis.u-picardie.fr/~cerin/pact/),
        [PACT03](https://www.ccis.northeastern.edu/pact03/),
        [PACT02](http://moss.csc.ncsu.edu/pact02/),
        [PACT01](http://research.ac.upc.es/pact01/),
        [PACT00](http://eecs.oregonstate.edu/pact2000/),
        [PACT99](http://www.cs.ucy.ac.cy/~pact99/)

        ---

        ### Sponsors

        #### Supporters

        ![ACM SIGARCH](images/acm-sigarch-logo.png)

        ![IEEE Computer Society](images/ieee-cs-logo.png)

        <div class="text-muted" markdown="1">
        - [Technical Committee on Parallel Processing](https://tc.computer.org/tcpp/)
        - [Technical Committee on Computer Architecture](https://ieeetcca.org/)
        </div>

        ![IFIP](images/ifip-logo.png)

        {#
        #### Gold

        #### Bronze
        #}

        #### Academic

        [![CS@Illinois](images-generated/illinois-wordmark.png)](https://cs.illinois.edu)

        [![Argonne National Laboratory](images/argonne-logo-300px.png)](https://alcf.anl.gov)

      {% endfilter %}
    </div>
  </div>
{% endblock %}
