{% extends "base-sidebar.html" %}

{% block maincol %}
  {% filter markdown %}
    # Registration

    Registration for PACT 2022 is now open.

    <a href="https://cvent.me/g3XaGw" class="btn btn-primary btn-lg px-4 me-md-2">Register Now &raquo;</a>

    ## Registration Rates

    Pricing and policy information is reproduced here for convenience, without guarantees
    of accuracy. See [pricing via our registration vendor](https://cvent.me/eabMXV)
    for authoritative information.

    ### Full Conference

    | Registration Type | Early-Bird | Regular
    | ------------------ | --------- | ----
    | ACM/IEE Member | $650 | $780
    | Non-Member | $780 | $940
    | Student Member| $450 | $550
    | Student Non-Member| $540 | $660

    ### Tutorials/Workshops

    | Registration Type | Early-Bird | Regular
    | ------------------ | --------- | ----
    | ACM/IEE Member |  $350 | $420
    | Non-Member | $420 | $500
    | Student Member| $240 | $290
    | Student Non-Member| $290 | $350

    ## Cancellation Policy

    If you cancel your attendance on or before September 17, a $150 cancellation
    fee is due. Cancellations after this date do not receive a refund.

    ## Venue

    PACT 2022 will be held at the

    [Discovery Partners Institute](https://dpi.uillinois.edu/contact/)<br>
    200 South Wacker Drive<br>
    Fourth Floor<br>
    Chicago, IL 60606

    Some sessions will be held at the [Illini
    Center](https://illinicenter.illinois.edu/), located on the 19th Floor of
    200 South Wacker Drive.

    ## Hotel Bookings

    At this moment, there is no specific hotel block for PACT. We recommend
    using booking portals such as [Booking.com](https://booking.com),
    [Hotels.com](https://hotels.com), [Hotwire](https://hotwire.com),
    [Expedia](https://expedia.com) or [Priceline](https://priceline.com), etc.

    It is useful to note that the Chicago Marathon takes place on October 9,
    the Sunday before the main conference. **IMPORTANT:** It may be
    advantageous to book the night from October 9 to October 10 separately from
    the remainder of the stay.
  {% endfilter %}
{% endblock %}
