{% extends "base-sidebar.html" %}

{% block maincol %}
  {% filter markdown %}
    # Registration

    Registration information will be made available soon.

    ## Cancellation Policy

    (to be announced)

    ## Venue

    PACT 2022 will be held at the

    [Discovery Partners Institute](https://dpi.uillinois.edu/contact/)<br>
    200 South Wacker Drive<br>
    Fourth Floor<br>
    Chicago, IL 60606

    Some sessions will be held at the [Illini
    Center](https://illinicenter.illinois.edu/), located on the 19th Floor of
    200 South Wacker Drive.

    ## Hotel Bookings

    At this moment, there is no specific hotel block for PACT. We recommend
    using booking portals such as [Booking.com](https://booking.com),
    [Hotels.com](https://hotels.com), [Hotwire](https://hotwire.com),
    [Expedia](https://expedia.com) or [Priceline](https://priceline.com), etc.

    It is useful to note that the Chicago Marathon takes place on October 9,
    the Sunday before the main conference. **IMPORTANT:** It may be
    advantageous to book the night from October 9 to October 10 separately from
    the remainder of the stay.
  {% endfilter %}
{% endblock %}
