{% extends "base-sidebar.html" %}

{% block hero %}
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="images-generated/chicago-skyline-800px.jpeg" class="d-block mx-lg-auto img-fluid" alt="Chicago Skyline" loading="lazy">
      <span class="text-muted">
        Photo by <a href="https://unsplash.com/@peterlaster?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pedro Lastra</a> on <a href="https://unsplash.com/s/photos/chicago?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      </span>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">PACT 2022</h1>
      <p class="lead">
        {% filter markdown %}
          {{ conf_dates }}<br>
          [Discovery Partners Institute](https://dpi.uillinois.edu/contact/)<br>
          200 S. Wacker Drive, Chicago, IL
        {% endfilter %}
      </p>
      <p class="lead">
      The 31st International Conference on Parallel Architectures and
      Compilation Techniques (PACT) will be held during {{conf_dates}}.
      PACT is a long-running and unique conference at the intersection of
      classical parallel architectures and compilers that brings together
      researchers from architecture, compilers, programming languages, and
      applications to present and discuss their latest research results.
      Applications as a driver for innovations in architecture and compilers
      are an important theme of the conference.
      </p>

      <ul>
        <li>
          <b>PACT going by too quickly?
            <a href="https://publish.illinois.edu/lcpc2022atillinois">
              LCPC 2022
            </a> takes place immediately afterwards at the Illini Center.
          </b>
        </li>
        <li>
          <b>Paper downloads are now
            <a href="https://ssl.tiker.net/nextcloud/s/SRTCfZyD4g9zoiA">
              available</a>. You will need a password that is posted throughout DPI.
          </b>
        </li>
      </ul>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        {# <a href="https://pact22.hotcrp.com/" class="btn btn-secondary btn-lg px-4 me-md-2">Submit a Paper</a> #}
        <a href="attend.html" class="btn btn-primary btn-lg px-4 me-md-2">Register Now &raquo;</a>
        <a href="attend.html" class="btn btn-outline-secondary btn-lg px-4">Attend</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block maincol %}
  {% filter markdown %}
    # News

    * **October 10, 2022** PACT 2022 papers are now available for
      [download](https://ssl.tiker.net/nextcloud/s/SRTCfZyD4g9zoiA).
      To access the papers repository, you will need a password that is
      posted throughout the venue.
    * **October 9, 2022** Please see our [arrival information page](attend.html#arrival)
      for important information on the Chicago Marathon as it pertains to PACT.
    * **October 8, 2022** **PACT 2022 is here!** Tutorials start today at 2:15pm
      (*note the change* compared to earlier versions of the [posted program](tutorials.html)).
      Please see [our attendance page](attend.html#arrival) for important
      **arrival information**.
    * **September 24, 2022** Applications for [Student Travel Awards](attend.html#travel-awards)
      are now available.
    * **September 12, 2022** The [technical program](program.html)
      for the main conference has been announced. **Register now!**
    * **September 5, 2022** Registration for PACT 2022 is now open.
      See the [attendance information page](attend.html) for details
      and to register.
    * **August 24, 2022:** Given that October 9 is the day of the
      Chicago Marathon, hotel bookings may be expensive.
      See the [attendance page](attend.html) for advice on
      booking cost.
    * **August 17, 2022:** Submission for the ACM Student Research Competition
      (SRC) at PACT is now open. See the [SRC page](src.html) for further information. 
    * **August 16, 2022:** We are excited to announce the
      tutorials and workshops that will precede the main conference at PACT this
      year. See the [program](program.html) for details.
    * **August 16, 2022:** We are excited to announce the keynote speakers who
      will headline the technical program for PACT each day. See the
      [program](program.html) for details.
    * **August 14, 2022:** The [ACM Student Research Competition
      (SRC)](./src.html) returns to PACT 2022, and invites students to submit
      their work (abstracts due September 1).
    * **August 5, 2022:** [LCPC 2022](https://publish.illinois.edu/lcpc2022atillinois/)
      will take place immediately after PACT 2022 in the same venue.
    * **August 4, 2022:** We are happy to share that the venue for PACT 2022 will be
      the [Discovery Partners Institute](https://www.google.com/maps/place/Discovery+Partners+Institute/@41.8789193,-87.63723,17z/data=!3m2!4b1!5s0x880e2cbf30a78eff:0x92b256adcca279a9!4m5!3m4!1s0x880e2df0af4a5f21:0xd66f11fe7d07385d!8m2!3d41.8789193!4d-87.63723)
      in Chicago, with some sessions in the [Illini Center](https://illinicenter.illinois.edu/),
      both at 200 S. Wacker Drive, Chicago.
    * **August 4, 2022:** A call for posters is now open. See below for details.
    * **May 12, 2022:** Got a workshop or tutorial that would fit well with
      PACT22? Please email Manoj Kumar <manoj1@us.ibm.com> to start a discussion.
    * **April 13, 2022:** The submission site is now available.
      Please create an account on [our HotCRP site](https://pact22.hotcrp.com/)
      to begin the submission process.
    * **Mar 6, 2022:** The call for workshops and tutorials is now posted.
      See the [workshops/tutorials page](workshops.html).
    * **Jan 27, 2022:** PACT 2022 is on! The call for papers is below.

    <a name="call-for-posters">

    {% filter indent(4) -%}
    {% include "posters.md" %}
    {% endfilter %}

    {% filter indent(4) -%}
    {% include "cfp.md" %}
    {% endfilter %}

    -----

    Download the Call for Papers in plain text/Markdown form, e.g.
    for dissemination in email: [`cfp-pact-2022.txt`](./cfp-pact-2022.txt)
  {% endfilter %}
{% endblock %}
