{% extends "base-sidebar.html" %}

{% block hero %}
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="images-generated/chicago-skyline-800px.jpeg" class="d-block mx-lg-auto img-fluid" alt="Chicago Skyline" loading="lazy">
      <span class="text-muted">
        Photo by <a href="https://unsplash.com/@peterlaster?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pedro Lastra</a> on <a href="https://unsplash.com/s/photos/chicago?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      </span>
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">PACT 2022</h1>
      <p class="lead">
      The 31st International Conference on Parallel Architectures and
      Compilation Techniques (PACT) will be held during {{conf_dates}}.
      PACT is a long-running and unique conference at the intersection of
      classical parallel architectures and compilers that brings together
      researchers from architecture, compilers, programming languages, and
      applications to present and discuss their latest research results.
      Applications as a driver for innovations in architecture and compilers
      are an important theme of the conference.
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="submit.html" class="btn btn-primary btn-lg px-4 me-md-2">For Authors</a>
        <a href="https://pact22.hotcrp.com/" class="btn btn-secondary btn-lg px-4 me-md-2">Submit a Paper</a>
        <a href="attend.html" class="btn btn-outline-secondary btn-lg px-4">For Attendees</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block maincol %}
  {% filter markdown %}
    # News

    * **April 13, 2022:** The submission site is now available.
      Please create an account on [our HotCRP site](https://pact22.hotcrp.com/)
      to begin the submission process.
    * **Mar 6, 2022:** The call for workshops and tutorials is now posted.
      See the [workshops/tutorials page](workshops.html).
    * **Jan 27, 2022:** PACT 2022 is on! The call for papers is below.

    {% filter indent(4) -%}
    {% include "cfp.md" %}
    {% endfilter %}

    -----

    Download the Call for Papers in plain text/Markdown form, e.g.
    for dissemination in email: [`cfp-pact-2022.txt`](./cfp-pact-2022.txt)
  {% endfilter %}
{% endblock %}
