{% extends "base-sidebar.html" %}

{% block maincol %}
  {% filter markdown %}
    # Organization

    **General Chair:**<br>
    [Andreas Kloeckner](https://andreask.cs.illinois.edu/aboutme), U. Illinois

    **Program Chair:**<br>
    [Jose Moreira](https://researcher.watson.ibm.com/researcher/view.php?person=us-jmoreira), IBM

    **Local Arrangements Chair:**<br>
    [Yuri Alexeev](https://www.anl.gov/profile/yuri-alexeev), Argonne National Lab

    **Finance Chair:**<br>
    TBA

    **Workshop/Tutorial Chair:**<br>
    TBA

    **Publicity Co-Chairs:**

    - Europe: [Alexandra Jimborean](https://webs.um.es/alexandra.jimborean/miwiki/doku.php), U. Murcia
    - Asia: [Rio Yokota](https://www.rio.gsic.titech.ac.jp/en/member/yokota.html), Tokyo Institute of Technology
    - Americas: TBA

    **ACM Student Reserach Competition Chair:**<br>
    TBA

    **Artifact Evaluation Committee Chiar:**<br>
    TBA

    ## Steering Committee

    - [Erik Altman](https://researcher.watson.ibm.com/researcher/view.php?person=us-ealtman), IBM
    - [Skevos Evripidou](https://cy.linkedin.com/in/skevos-evripidou-55a7b2), U. Cyprus, Cyprus
    - [Guang Gao](https://www.capsl.udel.edu/~ggao/), U. Delaware, USA
    - [Bilha Mendelson](https://www.linkedin.com/in/bilha-mendelson-36208a1/?originalSubdomain=il), Optitura, Israel
    - [Yale Patt](http://users.ece.utexas.edu/~patt/), U. Texas at Austin, USA
    - [Lawrence Rauchwerger](https://cs.illinois.edu/about/people/all-faculty/rwerger), (Vice-Chair), U. Illinois, USA
    - [Valentina Salapura](https://www.linkedin.com/in/valentina-salapura-81924a44), AMD, USA
    - [Vivek Sarkar](https://vsarkar.cc.gatech.edu/), Georgia Tech, USA
    - [Mateo Valero](https://www.bsc.es/mateo-valero), UPC/Barcelona Supercomputing Center, Spain
    - [Jean Luc Gaudiot](http://pascal.eng.uci.edu/people/gaudiot.html), UC Irvine, USA
    - [Michel Cosnard](http://www-sop.inria.fr/members/Michel.Cosnard/) INRIA, France
    - [Kemal Ebcioglu](http://global-supercomputing.com/people/kemal.ebcioglu/) (Chair) Global Supercomputing Corp., USA
    - [Gabby Silberman](https://es.linkedin.com/in/gabbysilberman), BIST (Barcelona Inst. of Sci. and Tech.), Spain

    ## Technical Program Committee

    (TBA)

    ## Artifact Evaluation Committee

    (TBA)
  {% endfilter %}
{% endblock %}
