{% extends "base-sidebar.html" %}

{% block maincol %}
  {% filter markdown %}

    # Submissions

    ## Publication Date

    The official publication date is the date the proceedings are made
    available in the ACM Digital Library or IEEE Xplore. This date may be up
    to two weeks prior to the first day of the conference. The official
    publication date affects the deadline for any patent filings related to
    published work. (For those rare conferences whose proceedings are
    published in the ACM Digital Library or IEEE Xplore after the conference
    is over, the official publication date remains the first day of the
    conference.)

    {% filter indent(4) -%}
    {% include "submission-instructions.md" %}
    {% endfilter %}

  {% endfilter %}
{% endblock %}
